
.panelBox {
}

.activeBtn, .inactiveBtn {
	color: rgba(256, 256, 256, 1);
	background-color: rgba(200, 200, 200, 1);
	border: 1px solid #cccccc;
	padding: 0 6px;
}


.inactiveBtn {
	color: rgba(256, 256, 256, .5);
	background-color: rgba(200, 200, 200, .5);
}
